html,
body,
header,
#intro{
    height: 100%;
}
#intro{
    background-image: url(../image/bg.png) ;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    margin: 3px auto 0;
    position: relative;
}
img{
    width: 80%;
    padding-top: 150px;
}
.para{
    padding-bottom: 20px;
    font-size: 25px;
    padding-top: 60px;
    padding-left: 10px;
    font-weight: bold;  
}
.text-center{
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}
.form_change{
    width: auto;
background: linear-gradient(to right ,#a6a6a6, #d9d9d9);
    padding: 30px 40px 30px 50px;
   height: auto;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2);
    border-radius: 20px;
  
/* width: 90%;
height: 80%;
padding-top: 30px;
border-radius: 20px;
margin-left: 30px; */
}
.form-group{
    width: auto;
    
}
.btn{
   
    width: 50%;
    margin-bottom: 30px;
}

@media (max-width: 325px) { 
    #intro{
        background-image: url(../image/bg.png) ;
        background-repeat: no-repeat;
        background-size: 100% 140%;
        height: 130vh;
        margin: 3px auto 0;
        position: relative;
    } 
    img {
        width: 120%;
        padding: 50px;
        /* margin: 30px; */
        /* padding-bottom: 100px; */
    }
    .form_change {
        width: 140%;
        /* background: linear-gradient(to right, rgba(255,0,0,0),rgb(115, 115, 115)); */
        /* padding: 30px 40px 30px 50px; */
        /* margin: 60px;
        margin-left: 70px;
        padding: 45px; */
        /* height: auto; */
        /* -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2); */
        /* box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2); */
        /* border-radius: 20px; */
    }
}

@media (max-width: 575.98px) { 
    #intro{
        background-image: url(../image/bg.png) ;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
        margin: 3px auto 0;
        position: relative;
    }
    .text-center {
        /* padding-bottom: 20px; */
        font-size: 10px;
        font-weight: bold;
        /* padding-left: 25px; */
        /* width: max-content; */
        padding: 0;
    }
    img {
        width: 70%;
    
        padding: 0 ;
        /* padding-bottom: 100px; */
    }
    .para {
        /* padding-bottom: 20px; */
        font-size: 15px;
        /* padding-top: 60px; */
        /* padding-left: 10px; */
        padding: 0 98px 0;
        /* margin: 0; */
        font-weight: bold;
        width: max-content;
    }
    .form_change {
        width: 140%;
        /* background: linear-gradient(to right, rgba(255,0,0,0),rgb(115, 115, 115)); */
        /* padding: 30px 40px 30px 50px; */
        margin-left: 70px;
        padding: 45px;
        /* height: auto; */
        /* -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2); */
        /* box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2); */
        /* border-radius: 20px; */
    }
    .btn {
        width: 100%;
        margin-bottom: 0;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) { 
    #intro{
        background-image: url(../image/bg.png) ;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
        margin: 3px auto 0;
        position: relative;
    }
    

 }


@media (min-width: 768px) and (max-width: 991.98px) { 
    #intro{
        background-image: url(../image/bg.png) ;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
        margin: 3px auto 0;
        position: relative;
    }
    .form_change {
        /* width: auto; */
        /* background: linear-gradient(to right, rgba(255,0,0,0),rgb(115, 115, 115)); */
        padding: 30px 30px 20px 40px;
        /* height: auto; */
        /* -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2); */
        /* box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2); */
        /* border-radius: 20px; */
    }
    .text-center {
        padding-bottom: 0;
        font-size: 21px;
        font-weight: bold;
        width: max-content;
    }
    img{
        width: 70%;
    }
    .text-center1 {
     
        padding-left: 70px;
    }
    .para {
        /* padding-bottom: 20px; */
        font-size: 15px;
        /* padding-top: 60px; */
        /* padding-left: 10px; */
        /* font-weight: bold; */
        width: max-content;
    }
 }


@media (min-width: 992px) and (max-width: 1199.98px) { 
    #intro{
        background-image: url(../image/bg.png) ;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
        margin: 3px auto 0;
        position: relative;
    }
    .form_change {
        /* width: auto; */
        /* background: linear-gradient(to right, rgba(255,0,0,0),rgb(115, 115, 115)); */
        padding: 10px 20px 0 20px;
        /* height: auto; */
        /* -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2); */
        /* box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.2); */
        /* border-radius: 20px; */
    }
    .para {
        padding-bottom: 0;  
        /* font-size: 25px; */
        /* padding-top: 60px; */
        /* padding-left: 10px; */
        /* font-weight: bold; */
        width: max-content;
    }
    img {
        width: 70%;
        /* padding-top: 150px; */
    }
 }


@media (min-width: 1200px) { 
    #intro{
        background-image: url(../image/bg.png) ;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        height: 100vh;
        margin: 3px auto 0;
        position: relative;
    }

}